/*Wildcard */

* {
  box-sizing: border-box;
  font-family: "Raleway", "sans-serif";
  list-style-type: none;
  text-decoration: none;
}
header{
  background-color: white;
  padding-left: 50px;
  padding-right: 50px;
}
main{
  background-color: white;
  padding-left: 50px;
  padding-right: 50px;
}
footer{
  background-color: #f2f2f2;
  padding-left: 50px;
  padding-right: 50px;
}

                    /*Media-query pour les mobiles*/
@media (max-width: 768px) {
  header{
    padding-left: 0px;
    padding-right: 0px;
  }
  main{
    padding-left: 0px;
    padding-right: 0px;
  }
  footer{
    padding-left: 0px;
    padding-right: 0px;
  }
}

/*nav-bar */

header {
  display: flex;
  margin-bottom: 50px;
}
#logo {
  display: flex;
  margin-left: 50px;
  margin-right: auto;
  max-width: 150px;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  font-weight: 600;
  font-size: 17px;
}
nav a{
  color: black;
  border-top: 3px solid transparent ;
  margin: 35px ;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
nav a:hover {
  border-top: 3px solid #0065fc;
  color: #0065fc;
}



                    /*Media-query pour les tablettes*/
                              /*nav-bar */
@media (min-width: 768px) and (max-width: 991px){
  header{
    display: block;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  #logo {   
    margin-left: auto;
    margin-bottom: 10px;
    max-width: 120px;
  }
  .menu{
    padding-bottom: 20px;
    border-bottom: 2px solid #f2f2f2;
}
  nav a {
    border-top: transparent;
    padding-bottom: 20px;
  }
  nav a:hover {
    border-bottom: 3px solid #0065fc;
    border-top: transparent;
  }
}

                    /*Media-query pour les mobiles*/
                            /*nav-bar */
@media (max-width: 768px)  {
  header{
    display: block;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 3px solid #f2f2f2;
    margin-bottom: 0px;
  }
  #logo {   
    margin: auto;
    max-width: 80px;
    margin-bottom: 15px;
    }
  .menu{
    width: 100%;
  }
  nav a {
    width: 50%;
    font-size: 70%;
    border-top: transparent;
    padding-bottom: 20px;
  }
  nav a:hover {
    border-bottom: 3px solid #0065fc;
    border-top: transparent;
  }
}



/*section.search */
.search{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.search-bar {
  padding: 0px 32px;
}
h1{
  padding-left: 32px;
}
p {
  font-size: medium;
  padding: 0 32px;
}
.search-form {
  display: flex;
  margin-left: 55px;
}
.localization {
  background-color: #f2f2f2;
  border-radius: 10px 0 0 10px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120%;
  padding: 0 32px;
}
.city {
  height: 50px;
  width: 230px;
  border: 1px solid #f2f2f2;
  font-weight: 700;
  text-align: center;
  font-size: 120%;
}
.button-search {
  background-color: #0065fc;
  border: #0065fc;
  border-radius: 0 10px 10px 0;
  height: 50px;
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #f2f2f2;
  font-size: 120%;
  font-weight: 600;
  cursor: pointer;
}
.button-search i{
  display: none;
}


                    /*Media-query pour les tablettes*/
                          /*section.search */
@media (min-width: 768px) and (max-width: 991px){
  
  h1{
    font-size: medium;
  }
  .search .p{
    font-size: medium;
  }
  .button-search{
    width: 60px;
}
  .localization {
    height: 45px;
    font-size: 100%;
}
  .city {
    height: 45px;
    width: 160px;
    font-size: 80%;
}
  .button-search{
    width: 45px;
    height: 45px;
    
}
  .button-search i{    
    display: block;
    padding: 50%;
    color: white;
    font-size: large;
  }
  .button-search span{
    display: none;
    }
}


                    /*Media-query pour les mobiles*/
                          /*section.search */
@media (max-width: 767px) {
  .search{
    margin-top: 20px;
  }
  h1 {
    font-size:70%;
  }
  p {
    font-size: 70%;
  }
  .search-form {
    justify-items: center;
  }
  .localization {
    height: 40px;
    font-size: 90%;
  }
  .city {
    height: 40px;
    width: 150px;
    border: 1px solid #f2f2f2;
    font-weight: 700;
    text-align: center;
    font-size: 70%;
  }
  .button-search{
    width: 45px;
    height: 40px;
    border-radius: 10px;
    margin-left: -10px;
}
  .button-search i{    
    display: block;
    padding: 50%;
    color: white;
    font-size: medium;
  }
  .button-search span{
    display: none;
      }
}


/*filters-search */
.search-filters {
  display: flex;
  padding-left: 32px;
}
.title{
  font-size: 130%;
  font-weight: bold;
}
.form-filters {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 25px;
}
.filters{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 40px;
  margin-top: 15px;
}
.filters span{
  position: relative;
  border: 4px solid #f2f2f2;
  border-left: 3px solid transparent;
  padding-left: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-bottom: 10px;
  border-radius: 32px;
  text-align: justify;
  font-weight: bold;
  cursor: pointer;
}
.fa-solid.fa-money-bill-wave {
  position: absolute;
  color: #0065fc;
  background-color: #deebff;
  padding: 16px;
  border-radius: 50%;
  margin-right: -44px;
}
.filters .economic {
  width: 200px;
  height: 50px;
}
.fa-solid.fa-child-reaching {
  position: absolute;
  color: #0065fc;
  background-color: #deebff;
  padding: 16px;
  border-radius: 50%;
  margin-right: -44px;
}
.filters .family {
  width: 200px;
  height: 50px;
}
.fa-solid.fa-heart {
  position: absolute;
  color: #0065fc;
  background-color: #deebff;
  padding: 16px;
  border-radius: 50%;
  margin-right: -43px;
}
.romantic {
  width: 200px;
  height: 50px;
}
.fa-solid.fa-dog {
  position: absolute;
  color: #0065fc;
  background-color: #deebff;
  padding: 16px;
  border-radius: 50%;
  margin-right: -45px;
}
.animal {
  width: 210px;
  height: 50px;
}
.filters span:hover {
  background-color: #deebff;
  transform: scale(1.01);
}


                    /*Media-query pour les tablettes*/
@media (min-width: 768px) and (max-width: 991px){
  
  .filters{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .title{
    font-size: medium;
  }
  .filters span{
    font-size: 80%;
    text-align: justify;
  }
}

                    /*Media-query pour les mobiles*/
@media (max-width: 768px){
  .filters{
    margin-top: 10px;
    margin-bottom: 8px;
  }
  .title{
    font-size: large;
    margin-right: 0px;
  }
  .form-filters {
    margin: 12px;
  }
  .filters span{
    font-size: 70%;
    text-align: justify;
    border: 2px solid #f2f2f2;
    padding-top: 15px;
  }
}


/* info */
.info {
  display: flex;
  text-align: center;
  justify-content: start;
  margin: 20px;
}
.fa-solid.fa-info {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 3px solid #deebff;
  color: #0065fc;
  font-size: 130%;
  font-weight: bold;
text-align: center;
}
.info p {
  margin: 10px;
  font-size: 100%;
  font-weight: 300;
  color: black;
}


                    /*Media-query pour les tablettes*/
@media (min-width: 768px) and (max-width: 991px){
  .info{
    margin-bottom: 10px;
    margin-top: 20px;
    margin-right: 250px;
  }
  .info p {
    font-size: 70%;
    font-weight: 500;
  }
  .fa-solid.fa-info{
    height: 30px;
    width: 30px;
    font-size: 17px;
  }
}

                    /*Media-query pour les mobiles*/
@media (max-width: 768px) {
  .info {
    margin: 5px ;
  }
  .fa-solid.fa-info {
    font-size: 18px;
    border: 45%;
  }
  .info p {
    font-size: x-small;
  }
    }



/*duo*/
.duo-box {
  display: flex;
  justify-content: space-between;
flex-wrap: wrap;
  }
#housing h2{
padding-left: 32px;
font-size: 140%;
  }
#housing {
  width: 64%;
  height: 800px;
  border-radius: 15px;
  background-color: #f2f2f2; 
}
aside {
  width: 31%;
  height: 800px;
  border-radius: 15px;
  background-color: #f2f2f2;
  }
.housing-list{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card{
  width: 28%;
  margin: 20px 20px 20px 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #d3d3d3;
  transition: 0.5s;
}
.card:hover{
  transform: scale(1.02);
}
.card .picture{
  height: 160px;
  width: 98%;
  margin-left: 4px;
  margin-top: 5px;
  object-fit: cover;
  background-size: cover;
  border-radius: 10% 10% 0 0;
}
.card p{
  color: black;
}
.h3{
  color: black;
  font-size: larger;
  font-weight: bold;
}
.card .fa-star{
color: #0065fc;
text-align: justify;
}
.card .colorgrey {
  color: #d6d1d1;
}
.star{
  padding-left: 32px;
  padding-bottom: 10px;
}
.show-more {
  padding-left: 30px;
  text-align: start;
  font-weight: 700;
  font-size: 130%;
  text-decoration: none;
  color: black;
}


                    /*Media-query pour les tablettes*/
@media (min-width: 768px) and (max-width: 991px){
  .duo-box{
  flex-direction: column-reverse;
  flex-wrap: wrap;
  }
  #housing h2{
    font-size: 100%;
    margin-bottom: 0px;
    margin-top: 10px;
  }
  #housing {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    background-color: white;
  }
  .housing-list{
    margin-bottom: 30px;
  }
#housing h3{
  font-size: 90%;
}
#housing .card{
  width: 38%;
  height: 210px;
  margin-bottom: 2px;

}
#housing .picture{
  height: 50%;
  object-fit: cover;
  background-size: cover;
}
.card p{
  font-size: 80%;
}
.star{
  font-size: 80%;
}
.show-more{
  font-size: 90%;
}
  }



                      /*Media-query pour les mobiles*/
@media (max-width: 768px){
  .duo-box{
    flex-direction: column-reverse;
    flex-wrap: wrap;

    }
    #housing {
      width: 100%;
      height: 100%;
      background-color: white;  
      }
    #housing h3{
  font-size: 90%;
}
    #housing .card{
  width: 100%;
  height: 210px;
  margin-bottom: 20px;
}
    #housing .picture{
  height: 50%;
  object-fit: cover;
  background-size: cover;
}
    .card p{
  font-size: 80%;
}
    .star{
  font-size: 80%;
}
    .show-more{
  font-size: 110%;
  padding-left: 20px;
}

}





/*most-popular*/

.header-most-popular{
  display: flex;
  justify-content: space-between;
}
.header-most-popular h2{
  font-size: 140%;
  padding-left: 32px;
  margin-bottom: 40px;
}
.fa-chart-line{
  padding-top: 20px;
  padding-right: 32px;
  font-size: 160%;
  color: black;
}
.most-popular-list{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.most-popular-list .card a{
  display: flex;
}
.most-popular-list .card{
  height: 33%;
  width: 80%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #d3d3d3;
  transition: 0.5s;
}
.most-popular-list .card:hover{
  transform: scale(1.03);
}
.most-popular-list .picture{
  object-fit: cover;
  width: 40%;
  height: 160px;
  border-radius: 20px 0 0 20px;
  margin-left: 2px;
  margin-top: 2px;
}
.star-most-popular{
  margin-left: 30px;
}
.most-popular-list-item-card .fa-star{
color: #0065fc;
}
.most-popular-list-item-card .colorgrey{
  color: #d6d1d1;
}


                    /*Media-query pour les tablettes*/
                            /*most-popular*/
@media (min-width: 768px) and (max-width: 991px){
  .header-most-popular h2{
    font-size: 100%;
  }
  .fa-chart-line{
    font-size: 100%;
  }
  aside {
    width: 100%;
    height: 550px;
    margin: 0;
    border-radius: 0px;
    background-color: #f2f2f2;
    }
    .most-popular-list .card{
      height: 120px;
      margin-bottom: 10px;
      width: 70%;
    }
    .most-popular-list .picture{
      height: 114px;
      padding-top: 3px;
      padding-left: 3px;
    }
    aside h3{
      font-size: 90%;
}
    .star-most-popular{
      font-size: 80%;
}
}

                    /*Media-query pour les mobiles*/
                            /*most-popular*/
@media (max-width: 768px){
aside{
  border-radius: 0px ;
  width: 100%;
  height: 50%;
}
.most-popular-list .card{
  height: 140px;
  width: 90%;
}
.most-popular-list .picture{
  height: 138px;
  padding-top: 1px;
  padding-bottom: 2px;
  padding-left: 3px;
}
aside h3{
  font-size: 90%;
}
.star-most-popular{
  font-size: 80%;
}
}



/*activities-in-Marseille*/
/*tiltle-section*/
#header-activities {
  display: flex;
  margin-top: 40px;
  margin-bottom: 10px;
}
#header-activities h2{
  font-size: 130%;
  color: black;
}
h3{
  color: black;
  padding: 0 32px;
}
            /*column-activities*/
.column-activities{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0;
}
          /*one-column-activites*/
.one-column-activities{
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #d3d3d3;
  transition: 0.5s;
  width: 23%;
}
.one-column-activities:hover{
  transform: scale(1.03);
}
.vieux-port{
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 600px;
}
.parc-national{
  object-fit: cover;
  width: 100%;
  height: 600px;
  border-radius: 20px 20px 0 0;
}

          /*second-column-activities*/
.second-column-activities{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 23%;
}
.activities-top-left{
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #d3d3d3;
  transition: 0.5s;
}
.fort-pomegues{
  object-fit: cover;
  width: 100%;
  height: 300px;
  border-radius: 20px 20px 0 0;
}
.activities-top-left:hover{
  transform: scale(1.03);
}
.activities-bottom-left{
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #d3d3d3;
  transition: 0.5s;
}
.iles-du-frioul{
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0 0;
}
.activities-bottom-left:hover{
  transform: scale(1.03);
}
.activities-top-right{
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #d3d3d3;
  transition: 0.5s;
}
.notre-dame{
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-radius: 20px 20px 0 0;
}
.activities-top-right:hover{
transform: scale(1.03);
}
.activities-bottom-right{
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #d3d3d3;
  transition: 0.5s;
}
.longchamp{
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 300px;
}
.activities-bottom-right:hover{
  transform: scale(1.03);
}


                    /*Media-query pour les tablettes*/
                        /*activities-in-Marseille*/
@media (min-width: 768px) and (max-width: 991px){
  .column-activities{
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    margin: 0;
  }
  #header-activities h2{
    font-size: 100%;
    padding-left: 32px;
  }
  h3{
    font-size: 90%;
  }
  .one-column-activities{ 
    height: 30%;
    width: 40%;
  }
  .activities-top-left{
    margin-bottom: 10px;
  }
  .activities-bottom-left{
    margin-bottom: 10px;
  }
  .vieux-port {
    height: 300px;
  }
  .parc-national{
    height: 300px;
  }
  .second-column-activities{
    width: 50%;
    height: 30%;
  }
  .activities-bottom-right{
    margin-bottom: 10px;
}
  .activities-bottom-right{
    margin-top: 10px;
}
  .fort-pomegues{
    height: 140px;
}
  .iles-du-frioul{
    height: 100px;
}
  .notre-dame{
    height: 100px;
}
  .longchamp{
    height: 140px;
}
}


                    /*Media-query pour les mobiles*/
                        /*activities-in-Marseille*/
@media (max-width: 768px){
  .column-activities{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #header-activities h2{
    padding-left: 20px;
  }
  h3{
    font-size: 80%;
  }
  .one-column-activities{
    width: 90%;
    height: 150px;
    justify-content: space-around;
    margin-bottom: 10px;
  }
  .activities-top-left{
    height: 150px;
    margin-bottom: 10px;
  }
  .activities-bottom-left{
    height: 150px;
    margin-bottom: 10px;
  }
  .vieux-port {
    width: 100%;
    height: 100px;
  }
  .parc-national{
    width: 100%;
    height: 100px;
  }
  .second-column-activities{
    width: 90%;
    justify-content: space-around;
  }
  .activities-top-right{
    height: 150px;
    margin-bottom: 10px;
  }
  .activities-bottom-right{
    margin-bottom: 10px;
    height: 150px;
  }
  .fort-pomegues{
    height: 100px;

  }
  .iles-du-frioul{
    height: 100px;
  }
  .notre-dame{
    height: 100px;
  }
  .longchamp{
    height: 50%;
  }
}


/*footer*/
.footer{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.footer-column{
  width: 31%;
  margin: 0;
}
.footer p{
  font-size: 110%;
  font-weight: bold;
  margin-top: 50px;
}
.footer a{
  text-decoration: none;
  color: black;
}
.footer a:hover{
  font-weight: bold;
}
.footer ul{
  padding-left: 0px;
  margin: 35px;
  margin-top: 3px;
}
.footer li{
  margin-top: 3px;
  font-size: medium;
  font-weight: 500;
}
/*Media-query pour les tablettes*/
@media (min-width: 768px) and (max-width: 991px){
  .footer{
    margin-top: 20px;
  }
  .footer p{
    font-size: 90%;
    font-weight: bold;
    margin-top: 30px;
  }
  .footer a{
    text-decoration: none;
    color: black;
  }
  .footer ul{
    padding-left: 0px;
    margin: 20px;
  }
  .footer li{
    margin-top: 15px;
    font-size: small;
    font-weight: 400;
  }
}
                    /*Media-query pour les mobiles*/
@media (max-width: 768px){
  .footer{
    flex-direction: column;
  }
  .footer-column{
    width: unset;
    margin-bottom: 5px;
    margin-top: 5px;
  }
.footer ul{
  margin-bottom: 25px;
}
  .footer p{
    font-size: 17px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .footer li{
    margin-top: 10px;
    font-size: small;
    font-weight: 400;
  }
}


