@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

/*Wildcard */

* {
  box-sizing: border-box;
  font-family: "Raleway", "sans-serif";
}

/*nav-bar */

#logo {
  padding: 0 16px;
  margin-right: auto;
  max-width: 180px;
}

nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
  display: block;
  font-weight: 700;
  font-size: large;
  margin-left: 100px;
  flex-wrap: wrap;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 160px;
  flex-wrap: wrap;
}

header a:hover {
  border-top: 3px solid #0065fc;
  color: #0065fc;
  padding: 32px;
}

@media (max-width: 768px) {
  #logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    padding: 0 16px;
  }

  nav a {
    justify-content: space-between;
    text-align: start;
    flex-wrap: wrap;
  }

  nav {
    border-bottom: 2px solid #f2f2f2;
  }
  nav a:hover {
    border-bottom: 2px solid #0065fc;
    border-top: none;
    text-align: center;
    justify-content: center;
    flex-basis: 15%;
    flex-wrap: wrap;
  }
}

/*search-bar */

.search-bar {
  margin: 15px;
}

.text {
  width: 50px;
  height: 50px;
}
h1 {
  font-weight: bold;
  padding: 0 32px;
}
p {
  font-size: medium;
  padding: 0 32px;
}

.search-bar1 {
  display: inline-flex;
  margin: 13px;
  align-content: center;
  justify-content: center;
  padding: 0 32px;
}

.location {
  background-color: #f2f2f2;
  border-radius: 10px 0 0 10px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120%;
  padding: 0 32px;
}

.Marseille {
  display: flex;
  height: 50px;
  width: 230px;
  border: 1px solid #f2f2f2;
  font-weight: 700;
  text-align: center;
  font-size: 120%;
  justify-content: center;
  align-items: center;
}

.search {
  background-color: #0065fc;
  border: none;
  border-radius: 0 10px 10px 0;
  height: 50px;
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #f2f2f2;
  font-size: 120%;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}

.search:hover {
  transform: scale(1.1);
}

.fa-magnifying-glass {
  font-size: 20px;
  color: transparent;
  position: absolute;
  padding-left: 38%;
  margin: auto;
  display: none;
}

@media (max-width: 667px) {
  .fa-magnifying-glass {
    display: inline;
    color: white;
    padding: 2px;
    position: absolute;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  h1 {
    text-align: center;
  }
  p {
    text-align: justify;
  }
  .search {
    color: transparent;
    width: 13%;
    margin-right: auto;
  }
  .search-bar1 {
    display: flex;
  }
}

/*filtres-search */

.flex-container {
  display: flex;
  align-items: center;
  gap: 37px;
  flex-wrap: wrap;
}
h2 {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0 44px;
  font-size: large;
  font-weight: bold;
  font-family: "Raleway";
  flex-wrap: wrap;
}

.fa-solid.fa-money-bill-wave {
  color: #0065fc;
  background-color: #deebff;
  padding: 16px;
  border-radius: 50%;
  margin: -4px;
}

.economique {
  cursor: pointer;
  border: 3px solid #deebff;
  border-radius: 32px;
}
.economique span {
  font-weight: bold;
  padding: 16px;
}

.economique:hover {
  background-color: #f2f2f2;
  transform: scale(1.02);
}

.fa-solid.fa-child-reaching {
  color: #0065fc;
  background-color: #deebff;
  padding: 16px;
  border-radius: 50%;
  margin: -4px;
}

.familial {
  cursor: pointer;
  border: 3px solid #deebff;
  border-radius: 32px;
}
.familial span {
  font-weight: bold;
  padding: 32px;
}

.familial:hover {
  background-color: #f2f2f2;
  transform: scale(1.02);
}

.fa-solid.fa-heart {
  color: #0065fc;
  background-color: #deebff;
  padding: 16px;
  border-radius: 50%;
  margin: -4px;
}

.romantique {
  cursor: pointer;
  border: 3px solid #deebff;
  border-radius: 32px;
}

.romantique span {
  font-weight: bold;
  padding: 32px;
}
.romantique:hover {
  background-color: #f2f2f2;
  transform: scale(1.02);
}

.fa-solid.fa-dog {
  color: #0065fc;
  background-color: #deebff;
  padding: 16px;
  border-radius: 50%;
  margin: -3px;
}
.animaux {
  cursor: pointer;
  border: 3px solid #deebff;
  border-radius: 32px;
}
.animaux span {
  font-weight: bold;
  padding: 32px;
}

.animaux:hover {
  background-color: #f2f2f2;
  transform: scale(1.02);
}
.economique.familial.romantique.animaux {
  flex-wrap: wrap;
}

/* info */

.info {
  display: flex;
  font-weight: lighter;
  padding: 0 36px;
}

.fa-solid.fa-info {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 3px solid #deebff;
  color: #0065fc;
  font-size: 130%;
  font-weight: bold;
  margin: 50px 2px;
}

.info p {
  flex-wrap: wrap;
  margin: 50px 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100%;
  font-weight: 300;
  color: black;
}
@media (max-width: 667px) {
  .fa-solid.fa-info {
    font-size: medium;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    margin: 18px -18px;
  }

  .info.fa-solid.fa-info {
    display: inline-flex;
    justify-content: center;
  }

  .info p {
    font-size: small;
    flex-wrap: wrap;
    padding: 20px 20px;
    text-align: start;
    justify-content: start;
    align-items: flex-start;
  }
  .info {
    padding: 0 32px;
   flex-wrap: wrap;
       }
  
}
/*accomodation in Marseille*/

h3 {
  margin: 40px 0 40px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  padding: 0 16px;
  font-weight: 700;
  font-size: 130%;
}

.bloc1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
 
}

.bloc2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
 
}

.accomodation_in_Marseille{
  display: inline-flex;
 
}
.Les_plus_populaires{
  display: inline-flex;

width: 33%;
}

.container {
  display: flex;
flex-wrap: wrap;
  height: 850px;
  width: 66%;
  border-radius: 20px;
  background-color: #f2f2f2;
  margin: 0 32px;
}








.card-picture1 {
  width: 220px;
  height: auto;
  background-color: white;
  margin-bottom: 40px;
  border-radius: 20px 20px 20px 20px;
  margin: 50px;
  padding-bottom: 10px;

}

.card-picture1 img {
  object-fit: cover;
  background-size: cover;
  background-position: center;
  border-radius: 15% 15% 0 0;
  height: 120px;
  width: 100%;
}

.card-star1{
  align-items: center;
  justify-content: center;
 padding: 0 32px;
}

.card-picture2 {
  width: 220px;
  height: auto;
  background-color: white;
  margin-bottom: 40px;
  border-radius: 20px 20px 20px 20px;
  margin: 50px;
  padding-bottom: 10px;
}

.card-picture2 img {
  object-fit: cover;
  background-size: cover;
  background-position: center;
  border-radius: 15% 15% 0 0;
  height: 120px;
  width: 100%;
}

.card-picture3 {
  width: 220px;
  height: auto;
  background-color: white;
  margin-bottom: 40px;
  border-radius: 20px 20px 20px 20px;
  margin: 50px;
  padding-bottom: 10px;
}

.card-picture3 img {
  object-fit: cover;
  background-size: cover;
  background-position: center;
  border-radius: 15% 15% 0 0;
  height: 120px;
  width: 100%;
}

.card-picture4 {
  width: 220px;
  height: auto;
  background-color: white;
  margin-bottom: 40px;
  border-radius: 20px 20px 20px 20px;
  margin: 50px;
  padding-bottom: 10px;
}

.card-picture4 img {
  object-fit: cover;
  background-size: cover;
  background-position: center;
  border-radius: 15% 15% 0 0;
  height: 120px;
  width: 100%;
}
.card-picture5 {
  width: 220px;
  height: auto;
  background-color: white;
  margin-bottom: 40px;
  border-radius: 20px 20px 20px 20px;
  margin: 50px;
  padding-bottom: 10px;
}

.card-picture5 img {
  object-fit: cover;
  background-size: cover;
  background-position: center;
  border-radius: 15% 15% 0 0;
  height: 120px;
  width: 100%;
}
.card-picture6 {
  width: 220px;
  height: auto;
  background-color: white;
  margin-bottom: 40px;
  border-radius: 20px 20px 20px 20px;
  margin: 50px;
  padding-bottom: 10px;
}
.card-picture6 img {
  object-fit: cover;
  background-size: cover;
  background-position: center;
  border-radius: 15% 15% 0 0;
  height: 120px;
  width: 100%;
}

.show_more {
  display: flex;
  font-weight: 700;
  font-size: 130%;
  padding: 0 16px;
  font-family: "Raleway", "sans-serif";
}

/*most popular*/


h4 {
  margin: 40px 0 40px 20px;
  justify-content: space-around;
  display: flex;
  align-items: center;
  padding: 0 32px;
  font-weight: 700;
  font-size: 130%;
  }




.bloc3 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border: px solid #0065fc;
 margin-top: -200px;

  
}


.Les_plus_populaires {
  display: flex;
  flex-wrap: wrap;
  height: 850px;
  width: 500px;
  border-radius: 20px;
  background-color: #f2f2f2;
  
 
}

.card-picture7{
  border: 1px solid #0065fc;
  display: flex;
 justify-content: center;
}

.card-picture7 img {
  object-fit: cover;
  border-radius: 20px 0 0 20px;
  height: 140px;
  width: 110px;
  padding: 3%;
 }

.card-picture8{
  border: 1px solid #0065fc;
  display: flex;
 justify-content: center;

}
.card-picture8 img {
  object-fit: cover;
  border-radius: 20px 0 0 20px;
  height: 140px;
  width: 110px;
  padding: 3%;

 }


.card-picture9{
  border: 1px solid #0065fc;
  display: flex;
 justify-content: center;
}

.card-picture9 img {
  object-fit: cover;
  border-radius: 20px 0 0 20px;
  height: 140px;
  width: 110px;
  padding: 3%;
  }

